@font-face {
  font-family: "aileronsregular";
  src: url("ailerons-typeface.woff2") format("woff2"),
    url("ailerons-typeface.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  margin-right: 50px;
}

span {
  margin-bottom: 10px;
  color: white;
}
h1,h2,h3 {
  color: white;
  font-family: "Syncopate", sans-serif;
}
body {
  background: black;

  min-width: 400px;
}
